*{
	background-color: linen;
	font-family: 'Coming Soon', cursive;
}
.stroked{ 
	text-decoration: line-through;
	background-color: inherit;
	font-weight: lighter;
	font-style: italic;
	letter-spacing: .9rem; 
	text-shadow: 0 0;
	border-width: 0px; 
}

.needed{
	background-color:lightcoral;
	color: black;
	font-weight: bold;
	letter-spacing: 1.2rem;
	text-shadow: 3px 3px firebrick;
	border-style:outset;
	border-width:3px;
}

.hovered{
	background-color:lightskyblue;
}


/*
h1 {
	text-align: center;
	border-radius:25px;
	font-size:5rem;
	margin:35px auto ;
	border-style: outset;
	color:lightgray;
	background-color: firebrick;
	text-shadow:5px 5px black;
	width: 55%;
	padding:15px;

}
*/

#backgroundImage{
	background-image: url("https://static.pexels.com/photos/57426/paprika-vegetables-colorful-food-57426.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	width:90%;
	height: 1000px;
	margin: 0px auto;
	z-index: 1;
	position: relative;
}
#info {
	width:35%;
	height: 100%;
	margin: 0 auto;
	opacity:.5;
}
#listFormDiv{
	
	margin: 10px auto;
	text-align: center;
	z-index: 15;
	width:100%;
}

#itemEntry, #itemSubmit{
	background-color: lightgray;
	color:firebrick;
	margin: 3px auto;
}

#itemEntry {
	width:80%;
	font-size: 4rem;
}

#itemSubmit{
	width:15%;
	font-size: 2rem;
}

#listField{
	margin: 0px auto;		
	z-index:10;	
	height: 900px;	
	text-align: center;
	
}

h2{
	font-size: 3rem
}
ul{
	background-color:linen;
	font-size: 3rem;
	list-style: none;
	padding-right: 3rem;
}

#listField .listItem .fa {
	float: right;
	margin-right: 25px;
	margin-top:10px;
	background-color: inherit;
}
@media only screen and (max-width: 1500px){
	#info{
		width:60%;
	}
}

@media only screen and (max-width: 1000px){
	h1 {
		font-size: 2.5rem;
	}

	#info{
		width:85%;
	}

	#itemSubmit {
		font-size: 1rem;
	}

	#itemEntry {
		font-size: 2.5rem;
	}


}

